body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  .card {
      width: 500px;
      height: auto;
      margin: auto;
  }

  /* Attributes of God */
  /* .card-1 {
    background-color: #87b1e0;
  } */

  .card-1 .card-title {
      background-color: #3b89e2;
  }

  .btn-1 {
    background-color: #3b89e2;
  }

  /* Jesus */
  /* .card-2 {
    background-color: rgb(163, 211, 151);
  } */

  .card-2 .card-title {
      background-color: rgb(112, 211, 87);
  }

  .btn-2 {
    background-color: rgb(112, 211, 87);
  }

  /* Holy Spirit */
  /* .card-3 {
    background-color: rgb(243, 242, 159);
  } */

  .card-3 .card-title {
      background-color: rgb(250, 247, 97);
  }

  .btn-3 {
    background-color: rgb(250, 247, 97);
  }

  .card-title {
      /* width: 100%; */
      border: 2px solid #000;
      background: #bbb;
      /* margin: 5px; */
      margin-bottom: 25px;
      text-align: center;
  }

  .card-body {
      margin: 5px;
      text-align: left;
  }

  .btn {
      width: 32%;
      float: left;
      margin-left: 5px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  